version: "3.9"

services:
  postgres:
    image: postgres:18
    container_name: postgres_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: property_db
      POSTGRES_USER: property_user
      POSTGRES_PASSWORD: property_pass
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - backend_net

  redis:
    image: redis:latest
    container_name: redis_cache
    restart: always
    ports:
      - "6379:6379"
    networks:
      - backend_net

networks:
  backend_net:

volumes:
  postgres_data: